@{
  Layout = "_Layout";
}

<h1>Add a new order to Model.Name</h1>

<form action= "/vendors/@Model.Id/orders" method="post">
<input id= "vendorId" name="vendorId" type="hidden" value='@Model.Id'>
<label for="orderTitle">Order Title</label>
<input for="orderTitle" name="orderTitle" type="text">
<label for="orderDescription">Order Description</label>
<input for="orderDescription" name="orderDescription" type="text">
<label for="orderPrice">Order Price</label>
<input for="orderPrice" name="orderPrice" type="text">
<label for="orderDate">Order Date</label>
<input for="orderDate" name="orderDate" type="text">

<button type='submit'>Add item</button>
</form>

<a href='/vendors'>Back to Vendors List</a>
<a href='/'>Back to Home</a>