@{
  Layout = "_Layout";
}

@using BakeryVendors.Models:

<h1>Vendors</h1>

@if (Model.Count == 0)
{
  <h3>You haven't added any vendors yet</h3>
  <h3><a href='/vendors/new'>Add a new vendor</a></h3>
}

@foreach (Vendor vendor in Model)
{
  <h3><a href="/vendors/@vendor.Id">@vendor.Name</a></h3>
}


<p><a href="/">Back to Homepage</a></p>