@using BakeryVendors.Models;

<h3>All orders for this vendor</h3>

<ol>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
  }
</ol>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add new orders</a></p>
<p><a href='/vendors'>Back to Vendors List</a></p>
<p><a href='/'>Back to Home</a></p>
